<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<parameter name="driver" value="ChromeDriver" /> <!--测试浏览器：支持火狐，谷歌，IE-->
	<parameter name="nodeURL" value="" /> <!--selenium grid分布式运行node节点url，如不用分布式运行，则留空-->
	<parameter name="BaseUrl" value="http://172.31.2.25" />  <!-- 测试系统基础Url-->
	<parameter name="UserName" value="陈子洋" /> <!-- 系统登录用户名-->
	<parameter name="PassWord" value="Czy123456" />  <!-- 系统登录密码-->
    <parameter name="smtpUserName" value="zayn@jollycorp.com" />  <!-- 测试报告邮件发送：smtp身份证验证-->
    <parameter name="smtpPassWord" value="3edc$RFV" />  <!-- 测试报告邮件发送：smtp身份证验证-->
    <parameter name="smtpHost" value="smtp.exmail.qq.com" />  <!-- 测试报告邮件发送：smtp主机地址-->
    <parameter name="smtpPort" value="465" />  <!-- 测试报告邮件发送：smtp主机端口-->
    <parameter name="mailTitle" value="自动化测试报告" />  <!-- 测试报告邮件发送：邮件标题-->
    <parameter name="logUrl" value="" />  <!-- 测试报告邮件发送：用例运行日志url-->
    <parameter name="reportUrl" value="" />  <!-- 测试报告邮件发送：完整测试报告url-->
	<parameter name="recipients" value="zayn@jollycorp.com" /> <!-- 测试报告邮件发送：收件人，多个用,号隔开-->
    <parameter name="reportTitle" value="自动化测试报告" />  <!--测试报告标题-->
	<listeners><!-- 监听器设置-->
        <listener class-name="org.webdriver.patatiumwebui.utils.TestListener"></listener>
        <listener class-name="org.webdriver.patatiumwebui.utils.TestReport"></listener>
    </listeners>
     <test name="登录失败测试用例：数据驱动"> <!-- 测试用例描述-->
         <classes>
             <class name="LoginTest">
                 <methods >
                     <include name="loginFail" />
                 </methods>
             </class>
         </classes>
  </test> <!-- Test -->
    <test name="登录成功测试用例">
        <classes>

            <class name="LoginTest">
                <methods >
                    <include name="login" />
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->